<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2 style="color:wheat">Order Details</h2>
                    </div>
                </div>
            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Net Amount</th>
                        <th>Payment Status</th>
                        <th>Order Status</th>
                        <th>Created At</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody *ngIf="(orders$|async)?.isSuccess">
                    <tr *ngFor="let o of (orders$|async).data">
                        <td>{{o.id}}</td>
                        <td><a>{{o.totalPrice|currency:'INR' }}</a></td>
                        <td><span class="status"
                                [style.color]="o.paymentStatus=='SUCCESS'?'#10c469':o.paymentStatus=='UNPAID'?'grey':'#ff4f4f'">&bull;</span>{{o.paymentStatus}}
                        </td>
                        <td><span class="status text-success">&bull;</span>{{o.orderStatus}}</td>
                        <td>{{o.createdAt|date}}</td>
                        <td><a [routerLink]="['/order/',o.id]" class="view" title="View Details"
                                data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>